@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADEX ONLINE</h1>
    <p class="lead">Ne kete seksion mund te behet personalizimi i rregullimeve te sistemit ADEX Online.</p>
    <p>Ky seksion eshte i perdoreshem vetem nga perdorues te autorizuar.</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Konfigurimi i klienteve</h2>
        <p>
            Ne kete seksion behet kofigurimi i klienteve dhe agjesive me gjithe te dhenat perkatese duke perfshire dhe skontot perkatese.</p>
      
    </div>
    <div class="col-md-4">
        <h2>Cmimet</h2>
        <p>Ne kete seksion behet konfigurimi i cmimeve ne baze te zonave dhe llojit te sherbimit te ofruar.</p>
      
    </div>
    <div class="col-md-4">
        <h2>Shoferet</h2>
        <p>Ne kete sesion behet konfigurimi i shoferave qe bejne shperndarjene e dergesave.</p>
      
    </div>
</div>